body{
background-image: url("/storage/emulated/0/HTML/background.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;
}

h2{
color: rgb(136, 191, 189);
text-align: center;
}

h4{
color: rgb(187, 252, 250);
text-align: center;
}

h6{
color: #d9fff8;
text-align: center;
margin: 10px;
}

p{
color: white;
}

#p2{
color: black;
background: linear-gradient(to left,  rgb(136, 191, 189), #d9fff8);
background-repeat: no-repeat;
background-attachment: fixed;
font-family: 'Crimson Text', serif;
font-size: 19px;
}

#p3{
text-decoration: rgb(136, 191, 189) wavy underline;
border: 2px dashed #d9fff8;
border-radius: 10px;
padding: 10px;
border-right-style: dotted;
border-left-color: white;
}

.even{
color: black;
background: linear-gradient(to right,  rgb(136, 191, 189), #d9fff8);
background-repeat: no-repeat;
background-attachment: fixed;
font-family: 'Crimson Text', serif;
font-weight: 550;
}

.odd{
color: rgb(136, 191, 189);
font-style: italic;
text-decoration: white dotted underline;
}

#s1{
background-color: #222222;
}

#s2{
/*display: flex;*/
background-blur: 30%;
margin: 0px;
}

article{
font-family: caveat, sans-serif;
font-size: 21px
}

#box1{
border: 3px dashed rgb(136, 191, 189);
border-bottom: none;
font-size: 18;
background: #222222;
color: rgb(187, 252, 250);
padding: 10px;
}

#box2{
border: 3px dotted rgb(187, 252, 250);
font-size: 18;
background: rgb(136, 191, 189);
color: black;
padding: 10px;
}

#box3{
border: 3px dashed rgb(136, 191, 189);
border-top: none;
font-size: 18;
background: #222222;
color: rgb(187, 252, 250);
padding: 10px;
}

#fimg{
float: right;
}

#fimg:active{
transform: translate(-84px)  scale(1.7);
}

#p4{
clear: right;
}

#timg{
transition: transform 3s;
}

#timg:active{
transform: translate(70px , 50px) rotate(90deg);
}
